<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Forum</title>
    {% load static %}
    <link href="{%static 'css/style.css'%}" rel="stylesheet"/>
</head>
<body class="home">
    <div class="container">
        <div class="main">
            <div class="main-header">
                <img scr="{% static 'img/IMG_2022_08_28-16_25_10_6440_CACDA5AE.jpeg' %}" class="logo">
                <hi>Home</hi>
    </div>
    {% block content%} {{content}} {% endblock %}
   
    
</body>
</html>